.form {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 30px;

  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
}

.radio-input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
