.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 40px 0;
  gap: 30px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}

.radio-input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.file-input {
  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &::before {
    content: "Click to select file";
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .form {
    width: 100%;
  }
}
