.form {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 30px;

  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
}

.radio-input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.file-input {
  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &::before {
    content: "Press to Select file";
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
  }
}
