.form-page {
  background-color: #f5f5f5;
  min-height: 100vh;
  padding: 50px 0;

  &__title {
    text-align: center;
    margin: 0;
  }

  &__user-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
